body {
  background: radial-gradient(circle, #86d8ed, #043e65);
  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h2{
    margin-bottom:8px ;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 200px;
}

.form-outline {
  display: flex;
  align-items: center;
}

.form-control {
  width: 200px;
  height: 30px;
  margin-right: 5px;
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px; 
}

nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  width: calc(18% - 5px); /* Calcola la larghezza sottraendo il margine */
  height: 100px; /* Aumenta l'altezza degli elementi */
  cursor: pointer;
  list-style: none;
  margin: 5px; /* Riduci il margine ai lati degli elementi */
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.4); /* Cambia i valori dell'ombra */
  border-radius: 7px;
  /* background:radial-gradient(circle, #61c3dc, #022740); */
  background-color: rgba(0, 0, 0, 0.2); 
}


nav .list-item .material-icons {
  font-size: 48px;
}


nav .category-title {
  margin-top: 5px; 
}
.loading .loading-message {
  grid-row: 2; 
  text-align: center; 
  margin-bottom: 500px;
  font-size: 24px;
  font-weight: 600;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.list-item .material-icons {
  font-size: 48px;
}

.list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 20%;
  height: 80px;
  cursor: pointer;
  list-style: none;
  margin: 7px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 7px;
}
.category-title {
  margin-top: 8px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  color: #fff;
  transition: background 0.3s ease;
  background-color: rgba(0, 0, 0, 0.2); 
  color: #ffffff; 
  border: none;
}

.btn-primary i {
  margin-right: 5px;
}

.btn-primary:hover {
  background: radial-gradient(circle, #86d8ed, #043e65);
  color: #000000; 
}

nav li:hover {
  background: radial-gradient(circle, #86d8ed, #043e65);
  color: #000000; 
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); 
}
nav li:active {
  color: white;
}
.img-book{
    width: 100px;
}
.loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid; 
    place-items: center; 
    background: radial-gradient(circle, rgba(134, 216, 237, 0.85), rgba(4, 62, 101, 0.8));
     z-index: 499; 
    pointer-events: none; 
}
  .loading .img-book {
    width: 100px;
    height: 100px;
    grid-row: 1; 
    margin-top: 350px;
    
  }
  
  .hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
.modal-box{
    
    border: 2px solid rgb(255, 255, 255);
    position: relative;
    min-height: 400px;
    min-width: 400px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle, rgba(134, 216, 237, 0.85), rgba(4, 62, 101, 0.8));
  padding: 24px;
  overflow: auto;
  overscroll-behavior: contain;
}



  
.modal-close{
    position: absolute;
    right: 0;
    margin-right: 20px;
    padding: 4px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.recipe-content{
    padding: 16px 14px;
    text-align: left;
    max-height: 300px; 
    overflow: auto; 
    color: white;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
/* .recepe-image {
    background-image: url(./book.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    min-height :200px;
} */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    z-index: 999;
}

  
  @media screen and (max-width: 768px) {
    footer {
      position: static;
    }
  }
  /* @media screen and (max-width: 600px) { */